<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.hsk.xunwu.dao.HouseDetailMapper">
  <resultMap id="BaseResultMap" type="com.spring.hsk.xunwu.pojo.HouseDetail">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="description" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="layout_desc" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="traffic" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="round_service" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="rent_way" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="address" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="subway_line_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="subway_line_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="subway_station_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="subway_station_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="house_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, description, layout_desc, traffic, round_service, rent_way, address, subway_line_id, 
    subway_line_name, subway_station_id, subway_station_name, house_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from house_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from house_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.spring.hsk.xunwu.pojo.HouseDetail">
    insert into house_detail (id, description, layout_desc, 
      traffic, round_service, rent_way, 
      address, subway_line_id, subway_line_name, 
      subway_station_id, subway_station_name, house_id
      )
    values (#{id,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}, #{layoutDesc,jdbcType=VARCHAR}, 
      #{traffic,jdbcType=VARCHAR}, #{roundService,jdbcType=VARCHAR}, #{rentWay,jdbcType=INTEGER}, 
      #{address,jdbcType=VARCHAR}, #{subwayLineId,jdbcType=INTEGER}, #{subwayLineName,jdbcType=VARCHAR}, 
      #{subwayStationId,jdbcType=INTEGER}, #{subwayStationName,jdbcType=VARCHAR}, #{houseId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.spring.hsk.xunwu.pojo.HouseDetail">
    insert into house_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="layoutDesc != null">
        layout_desc,
      </if>
      <if test="traffic != null">
        traffic,
      </if>
      <if test="roundService != null">
        round_service,
      </if>
      <if test="rentWay != null">
        rent_way,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="subwayLineId != null">
        subway_line_id,
      </if>
      <if test="subwayLineName != null">
        subway_line_name,
      </if>
      <if test="subwayStationId != null">
        subway_station_id,
      </if>
      <if test="subwayStationName != null">
        subway_station_name,
      </if>
      <if test="houseId != null">
        house_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="layoutDesc != null">
        #{layoutDesc,jdbcType=VARCHAR},
      </if>
      <if test="traffic != null">
        #{traffic,jdbcType=VARCHAR},
      </if>
      <if test="roundService != null">
        #{roundService,jdbcType=VARCHAR},
      </if>
      <if test="rentWay != null">
        #{rentWay,jdbcType=INTEGER},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="subwayLineId != null">
        #{subwayLineId,jdbcType=INTEGER},
      </if>
      <if test="subwayLineName != null">
        #{subwayLineName,jdbcType=VARCHAR},
      </if>
      <if test="subwayStationId != null">
        #{subwayStationId,jdbcType=INTEGER},
      </if>
      <if test="subwayStationName != null">
        #{subwayStationName,jdbcType=VARCHAR},
      </if>
      <if test="houseId != null">
        #{houseId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.spring.hsk.xunwu.pojo.HouseDetail">
    update house_detail
    <set>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="layoutDesc != null">
        layout_desc = #{layoutDesc,jdbcType=VARCHAR},
      </if>
      <if test="traffic != null">
        traffic = #{traffic,jdbcType=VARCHAR},
      </if>
      <if test="roundService != null">
        round_service = #{roundService,jdbcType=VARCHAR},
      </if>
      <if test="rentWay != null">
        rent_way = #{rentWay,jdbcType=INTEGER},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="subwayLineId != null">
        subway_line_id = #{subwayLineId,jdbcType=INTEGER},
      </if>
      <if test="subwayLineName != null">
        subway_line_name = #{subwayLineName,jdbcType=VARCHAR},
      </if>
      <if test="subwayStationId != null">
        subway_station_id = #{subwayStationId,jdbcType=INTEGER},
      </if>
      <if test="subwayStationName != null">
        subway_station_name = #{subwayStationName,jdbcType=VARCHAR},
      </if>
      <if test="houseId != null">
        house_id = #{houseId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.spring.hsk.xunwu.pojo.HouseDetail">
    update house_detail
    set description = #{description,jdbcType=VARCHAR},
      layout_desc = #{layoutDesc,jdbcType=VARCHAR},
      traffic = #{traffic,jdbcType=VARCHAR},
      round_service = #{roundService,jdbcType=VARCHAR},
      rent_way = #{rentWay,jdbcType=INTEGER},
      address = #{address,jdbcType=VARCHAR},
      subway_line_id = #{subwayLineId,jdbcType=INTEGER},
      subway_line_name = #{subwayLineName,jdbcType=VARCHAR},
      subway_station_id = #{subwayStationId,jdbcType=INTEGER},
      subway_station_name = #{subwayStationName,jdbcType=VARCHAR},
      house_id = #{houseId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>